{% load bootstrap_toolkit %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">{{ group.name }}</h3>
</div>
<div class="modal-body">
  <dl>
    <dt class="text-info"> Group Members: </dt>
	    <!-- old style list -->
		<dd style="display: none;">
			{% for chel in user_list %}
				{{ chel.get_full_name }},
			{% empty %}
				None
			{% endfor %}
		</dd>
	    <!-- new list -->
		<dd>
			{{ group.printable_user_list }}
		</dd>
  </dl>
</div>
<div class="modal-footer">
  <button class="btn btn-inverse" data-dismiss="modal">Close</button>
</div>
