<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Cloud Breeze</title>

    <script src="https://cdn.auth0.com/js/lock/10.2.2/lock.min.js"></script>
    <script type="text/javascript">
		var lock = new Auth0Lock('{{ AUTH0_CLIENT_ID }}', '{{ AUTH0_DOMAIN }}', {
		auth: {
		  redirectUrl: '{{ AUTH0_CALLBACK_URL }}',
		  responseType: 'code',
		  params: {
		    scope: 'openid profile'
		  }
		}
		});
		
		window.onload = function () {
			lock.show();
		};
	    
</script>
</head>
<body>
	<div align="center"><h6>Breeze (empty) home page</h6>
		<h1>This is "Cloud Breeze" !</h1>
		FIMM Users : are you looking for <a href="https://breeze-fimm.fimm.fi" title="go to FIMM's version of Breeze">
		FIMM's Breeze</a> ?<br><br>
		<button onclick="lock.show();">Breeze Login</button>
	</div>
</body>
</html>
